* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

h1,
h3,
p,
span {
  color: #fff;
}

#todo-app {
  background-color: #7d3b44;
  width: 360px;
  margin: 100px auto;
  box-shadow: 0 0 3px rgb(0 0 0);
}

#todo-app > form > div {
  display: flex;
  justify-content: space-between;
}
#todo-app > form > div {
  padding: 13px;
}

#todo-app > form > div > h1 {
  font-weight: 500;
}

#todo-app > form > ul > li {
  border-bottom: 1px solid black;
  padding: 7px;
  padding-left: 17px !important;
}

#todo-app > form > div > button {
  background-color: rgb(193, 33, 33);
  border: none;
  outline: none;
  border-radius: 4px;
  color: #fff;
  padding: 6px;
}

.ant-input {
  font-size: 15px;
  text-align: center;
  background-color: #84593d;
  width: 100%;
  border: none;
  outline: none;
  padding: 13px;
  color: #fff;
}
